<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evpoly">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVpoly">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="5s6g59jkz6" />

        <activity
            android:name="com.example.evpoly.JoinActivity"
            android:exported="false" />
        <activity
            android:name="com.example.evpoly.Manager_view"
            android:exported="false" />
        <activity
            android:name="com.example.evpoly.User_view"
            android:exported="false" />
        <activity
            android:name="com.example.evpoly.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>